.inner {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

.Products {
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // gap: 20px;
}

.loadMoreBtn {
  font-size: 24px;
  font-weight: 600;
  color: #5c6dde;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 5px;
}
