.inner {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}

.Products {
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

// .Product {
//   width: calc(33.333% - 20px);
//   box-sizing: border-box;
// }

.loadMoreBtn {
  font-size: 24px;
  font-weight: 600;
  color: #5c6dde;
  margin-top: 20px;
  cursor: pointer;
}
