.Header {
  height: 900px;
  background-color: lightpink;
  position: relative;
  @media (max-width: 775px) {
    height: 500px;
  }
}

.inner {
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 20px;
}
